.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
  }
  span {
    font-size: 3rem;
    text-transform: uppercase;
  }
}

.about {
  width: 50%;
  margin-left: 4rem;
  h1 {
    font-size: $heading-text;
    margin: 3rem 0;
  }
  p {
    font-size: $body-text;
    line-height: 1.3rem;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

#register{
  margin: 4vh;
  padding: 2.5vh;
  font-size: 3vh;
  border-radius: 1.5vw;
}

#discord{
  margin-left: 2vh;
  padding: 2.5vh;
  font-size: 3vh;
  border-radius: 1.5vw;
}

.buttonsb {
  margin-left: 4vw;
  margin-top: 7vh;
  width: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

#registerb{
  padding: 2.5vh;
  font-size: 3vh;
  border-radius: 1.5vw;
}

#discordb{
  margin-left: -5vh;
  padding: 2.5vh;
  font-size: 3vh;
  border-radius: 1.5vw;
}

#herocont{
 padding-top: 30vh;
}

.apkheading{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 10vw;
  height: 20vh;
  // align-items: center;
  flex-wrap: wrap;
  width: 50vw;
}

.name{
  font-size: 10vh;
}

.year{
  font-size: 5vh;
}

@media only screen and (max-width: 900px) {
  .buttonsb{
    width: 100vw;
    margin-left: 0px;
  }

  .apkheading{
    align-items: center;
    width: 100vw;
    margin-left: 0vh;
  }

  .name{
    font-size: 15vw;
    text-align: center;
  }

  .year{
    font-size: 8vw;
  }

  #discordb{
    margin-left: 0px;
  }
}

.timer{
  min-height: 80vh;
}

.days{
  font-size: 10vh;
}

.timerd{
  margin-top: 50vh;
  text-align: center;
}


.timerd .heading{
  text-align: center;
  font-size: 8vh;
  font-weight: 700;
  margin-bottom: 4vh;
}

.numbersd{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.numbersd .cont{
  display: inline-block;
}

.aboutus .headers{
  text-align: center;
  font-size: 8vh;
  font-weight: 700;
}

.msg{
  margin: 10vw;
  margin-top:2vw;
}

@media only screen and (max-width: 600px) {
  .numbersd{
    flex-direction: column;
  }
}


.entry{
  font-size: 400%;
  font-weight: bold;
  width: auto;
}
  

.typed-cursor{
  opacity: 1;
  font-size: 300%;
  animation: blink 0.7s infinite ;
}
  

@keyframes blink
{
  0%
    {opacity: 1}
  50%
    {opacity: 0}
  100%
    {opacity: 1}
}

.footer__text__email {
  font-size: 1.5rem !important;
  margin-top: 2vh;
}

@media only screen and (max-width: 650px) {
  .footer__text__email {
    font-size: 1rem !important;
  }

  .footer__text {
    margin-right: 5vh !important;
  }

  
}


// Copied from here

@font-face {
  font-family: "CyberPunk";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/133207/moderna_-webfont.eot");

}

.glitch {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  /* animation: glitch 500ms infinite; */
}

.glitch div {
  position: absolute;
  top: 0;
  // left: 0;
}

.glitch div:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch div:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}


.glitch .heading{
  position: absolute;
  top: -10vw;
  left: 17vw;
} 

//Copy 2

.glitches {
	font: {
		size: 8.125em;
		family: 'Raleway', sans-serif;
		weight: 700;
	}
	text-decoration: none;
  text-align: center;
	text-transform: uppercase;
	// position: absolute;
	// top: 50%;
	// left: 50%;

	transform: translate(-50%, -50%);
	margin: 0;
  width: 100%;
  margin-left: 50vw;
	color: #fff;
	letter-spacing: 5px;
	
	&:before, &:after {
		display: block;
		content: attr(data-glitch);
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .8;
	} &:after {
		color: #f0f;
		z-index: -2;
	} &:before {
		color: #0ff;
		z-index: -1;
	}
		&:before {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite
		}
		&:after {
			animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
		}
	}


@media only screen and (max-width: 400px) {
	.glitch {
		font-size: 3em;
	}
}


@keyframes glitch {
	0% {
		transform: translate(0)
	}
	20% {
		transform: translate(-5px, 5px)
	}
	40% {
		transform: translate(-5px, -5px)
	}
	60% {
		transform: translate(5px, 5px)
	}
	80% {
		transform: translate(5px, -5px)
	}
	to {
		transform: translate(0)
	}
}