@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  background-color: blue;
  color: white;
}

#scene-container {
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 128, 128, 0.507);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}

@media screen and (max-width: 900px) {
  .overlay {
    display: block;
  }
}

.header__menu-btn {
  position: relative;
  z-index: 1;
  height: 90%;
  padding: 1.6rem 2rem;
  margin-bottom: 0.4rem;
  width: 28px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu-btn__burger {
  width: 28px;
  height: 3px;
  border-radius: 50px;
  background-color: green;
  margin-top: 20%;
  position: relative;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header__menu-btn__burger::before {
  content: "";
  width: 28px;
  height: 3px;
  position: absolute;
  top: -8px;
  border-radius: 50px;
  background-color: green;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header__menu-btn__burger::after {
  content: "";
  width: 28px;
  height: 3px;
  position: absolute;
  top: 8px;
  border-radius: 50px;
  background-color: green;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header__menu-btn__burger.open {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: transparent;
}

.header__menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(4px, 7px);
          transform: rotate(45deg) translate(4px, 7px);
}

.header__menu-btn__burger.open::after {
  -webkit-transform: rotate(-45deg) translate(4px, -7px);
          transform: rotate(-45deg) translate(4px, -7px);
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
  .header {
    position: fixed;
    background: #22222295;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}

.header__logo {
  font-size: 1rem;
  padding: 1rem 2rem;
  height: 4.4vw;
}

@media screen and (max-width: 900px) {
  .header__logo {
    height: 10vw;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    height: 10vw;
  }
}

.header__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0.8;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header__navbar.open {
  visibility: visible;
  opacity: 1;
}

.header__navbar__navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
  overflow: hidden;
  background: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.header__navbar__navlinks.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__navbar__navlink a {
  color: blue;
  text-decoration: none;
  font-size: 2rem;
}

section {
  min-height: 100vh;
}

.footer {
  width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30vh;
  padding: 3rem;
}

.footer__text {
  width: 50%;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__text__email {
  font-size: 2.5rem;
}

.footer__links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__links__site, .footer__links__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__links__site a, .footer__links__social a {
  text-decoration: none;
  color: white;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.hero span {
  font-size: 3rem;
  text-transform: uppercase;
}

.about {
  width: 50%;
  margin-left: 4rem;
}

.about h1 {
  font-size: 54px;
  margin: 3rem 0;
}

.about p {
  font-size: 18px;
  line-height: 1.3rem;
}

.buttons {
  margin-top: 20vw;
}

.events {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10vh;
}

.events .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4rem 10rem;
}

.events .event__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.events .event__info h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.events .event__info p {
  font-size: 18px;
  width: 90%;
}

.contact {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__text {
  height: 60%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem;
}

.contact__text__info {
  font-size: 1.1rem;
}

.contact__text__info p {
  margin: 1rem 0;
}

.contact__map {
  width: 50%;
}

#tech-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */